// resets
body {
  font-family: 'helvetica';
  font-size: 16px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// update these
$color-grey: #ccc;
$color-grey-light: #cdcdcd;
$color-grey-dark: #999;
$color-grey-darker: #666;


// benefits page
.benefit-title {
  border-bottom: 1px solid $color-grey;
}

.benefit-info {
  line-height: 1.5;
}

// service
.benefit-service {
  padding: 10px 0;
  margin-bottom: 0;

  border-bottom: 1px solid $color-grey-light;

  &__info {
    font-size: 18px;
  }

  &__cost {
    float: right;
  }
}

// service locations
.benefit-service__locations {
  padding-left: 10px;
}

.benefit-service__location {
  padding-left: 5px;
  color: $color-grey-dark;

  &__cost {
    float: right;
  }
}

// service fees
.benefit-service__fees {
  padding-left: 10px;
}

.benefit-service__fee {
  padding-left: 5px;
  color: $color-grey-darker;

  &__cost {
    float: right;
  }
}



